.main-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}

.capa-feed {
    width: vw;
    height: 200px;
}

.capa-feed img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.bio-feed {
    max-width: 600px;
}

.bio-feed img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.horizontal-bio-feed {
    display: flex;
    gap: 1rem;
}

.vertical-bio-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;
}

.vertical-bio-feed h3 {
    font-size: 1.3em;
}

.container-redes {
    display: flex;
    gap: 1rem;
}

.face-icon,
.face-icon:visited {
    color: blue;
}

.insta-icon,
.insta-icon:visited {
    color: rgb(184, 18, 184);
}

.x-icon,
.x-icon:visited {
    color: black;
}

.container-redes svg {
    font-size: larger;
}

/*
Para tela de usuario
*/

.container-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.container-bio .name-icons-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.p-description {
    margin: 6px 0px 12px 0px;
}

.p-description-center {
    text-align: center;
}

.container-posts-feed {
    padding: 48px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.pix-icon,
.pix-icon:visited {
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-size: 50px;
    color: #4bb8a9;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .bio-feed img {
        width: 80px;
        height: 80px;
    }

    .pix-icon,
    .pix-icon:visited {
        font-size: 40px;
    }
    
}